<ion-header>
  <ion-toolbar>
    <ion-title>Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label><b>2010-actualidad</b> <br><br> Profesor del Máster Universitario en Desarrollo de Software para 
      Dispositivos Móviles</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>2008-2010</b> <br><br> Sexador de pollos en AngryChicken</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>2005-2008</b> <br><br> Analista de seguridad para la Casa Blanca</ion-label>
    </ion-item>
   
  </ion-list>
  
</ion-content>
