<ion-header>
  <ion-toolbar>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aplicación desarrollada por Nacho M. Martín. A continuación puede consultar más Información
      sobre el autor. 
    </ion-card-content>
    <ion-item href="curriculum" class="ion-activated">
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>Currículum vitae </ion-label>
    </ion-item>
    <ion-item href="mailto:gmail@gmail.com" class="ion-activated">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label><b>Correo:</b> gmail@gmail.com</ion-label>
    </ion-item>
    <ion-item href="https://twitter.com" class="ion-activated">
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      <ion-label><b>Twitter:</b> @twiter</ion-label>
    </ion-item>
    <ion-item href="tel:+34900900900" class="ion-activated">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label><b>Teléfono:</b> 900900900</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
